body{
	background-image: url("https://dl.dropboxusercontent.com/u/72343666/GA/Unit_3/stripes.png"), url("https://dl.dropboxusercontent.com/u/72343666/GA/Unit_3/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size: 550px, cover;
	font-family: Helvetica;
	font-weight: lighter;
	color: white;
}

hr{
	position: absolute;
	top: 53%;
	left: 8%;
	width: 50px;
	height: 3px;
	display: block; height: 2px;
    border: 0; border-top: 2px solid #fd6e6e;
}

p{
	position: absolute;
	top: 57%;
	left: 8%;
}

#logo {
	position: absolute;
	top: 40%;
	left: 8%;
}

#download {
	position: absolute;
	top: 67%;
	left: 8%;
}
